<!DOCTYPE html>
<html>

<head>
  <title>NEOBANK</title>  
</head>

<body>
  <div class="welcome">
    <center>
      <h1>
        <font size="13" color="black">
           Welcome
        </font>
      </h1>
    </center>
  </div>

  <center>
    <form action="/insert" method = "POST">
     <p>insert</p>
     <p>email:<input type="text" name="email"/></p>
     <p>pin:<input type="text" name="pin"/></p>
     <p>balance:<input type="text" name="balance"/></p>
     <p><input type="submit" value="submit"/></p>
    </form>
  </center>

  <center>
    <a href="/logout">Logout</a>
  </center>

  <div class="breaker">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>

  <div class="footer">
    <footer style="position: fixed; left: 2; right: 2; width: 95%; bottom: 0;">
      <center>
        neobank.vln 2020 @ All rights reserved
      </center>
    </footer>
  </div>
</body>

</html>
